<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Northwestern Online Ordering Application</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="description" content="An online ordering application
    for Northwestern Dining halls.">
    <!--you can use meta to create an homescreen phone icon -->
  </head>
  <body>
