<h1>This Is the {{title}} Page</h1>
{{#each userinfos }}
    <article class="card">
        <p>{{this.username}} ({{this.mealplan}})</p>
        <p>{{this.mealspecifications}} </p>
    </article>
{{/each}}
